<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="test1.Properties.Settings.csharp_projectConnectiontodatabase"
            connectionString="Data Source=DESKTOP-RKORABH\SQLEXPRESS;Initial Catalog=csharp_project;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>